<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="queueConfiguration" type="Practical.Topself.QueueConfiguration, Practical.Topself" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <queueConfiguration hostName="localhost" userName="guest" password="guest" queueName="Email"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>